.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    color: white;
    overflow-y: auto;
    /* z-index: 1000; */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .sidebar a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px; 
    text-decoration: none;
    color: white;
    width: 100%; 
    border-bottom: 1px solid #444;
    transition: background-color 0.3s;
  }
  
  .sidebar a:hover {
    background-color: #555;
  }
  
  .link-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 10px 0; 
  }
  
  .icon {
    font-size: 20px;
  }
  
  .link-title {
    font-size: 12px; 
    margin-top: 5px; 
  }

  @media (max-width: 768px) {
    .sidebar {
      width: 0;
      overflow: hidden;
    }
  }

  .button-user {
    display: flex;
    align-items: end;
    justify-content: center;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    z-index: 1001;
  }
  
  .link-container {
    display: flex;
    align-items: center;
    padding: 8px 0;
  }
  
  .icon {
    margin-right: 8px;
  }
  
  .link-title {
    font-size: 16px;
  }
  
  .relative {
    position: relative;
  }
  
  .absolute {
    position: absolute;
  }
  
  .bg-red-500 {
    background-color: #f56565;
  }
  
  .text-white {
    color: #fff;
  }
  
  .rounded-full {
    border-radius: 9999px;
  }
  
  .w-4 {
    width: 1rem;
  }
  
  .h-4 {
    height: 1rem;
  }
  
  .flex {
    display: flex;
  }
  
  .items-center {
    align-items: center;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .text-xs {
    font-size: 0.75rem;
  }
  
  .mt-4 {
    margin-top: 1rem;
  }
  
  .transform {
    transform: translate(50%, -50%);
  }